	.buttonVideo {
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fff, #eaeaea);
	background: -moz-linear-gradient(top, #fff, #eaeaea);
	background: -o-linear-gradient(top, #fff, #eaeaea);
	background: linear-gradient(top, #fff, #eaeaea);
	border: 1px solid white;
	border-radius: 5px;
	color: #4f4f4f;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: capitalize;
	}

	.link_mapa {
	-moz-border-radius: 3px;
	-moz-transition: none;
	-webkit-transition: none;
	background: #0370ea;
	background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
	background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	font-size: .8em;
	line-height: 1.3;
	padding: 5px 12px;
	text-align: center;	
	font-size: 1.0em;
	}

	.link_ver {
	-moz-border-radius: 3px;
	-moz-transition: none;
	-webkit-transition: none;
	background: #0370ea;
	background: -moz-linear-gradient(top, #4A9B40 0, #4A9B40 100%);
	background: -webkit-linear-gradient(top, #4A9B40 0, #4A9B40 100%);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	font-size: .8em;
	line-height: 1.3;
	padding: 5px 12px;
	text-align: center;
	font-size: 1.0em;
	}

	.link_vaga {
	-moz-border-radius: 3px;
	-moz-transition: none;
	-webkit-transition: none;
	background: #0370ea;
	background: -moz-linear-gradient(top, #9E0D0D 0, #9E0D0D 100%);
	background: -webkit-linear-gradient(top, #9E0D0D 0, #9E0D0D 100%);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-family: inherit;
	font-size: .8em;
	line-height: 1.3;
	padding: 5px 12px;
	text-align: center;
	font-size: 1.0em;
	}

	.buttonReview {
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fff), color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #fff, #eaeaea);
	background: -moz-linear-gradient(top, #fff, #eaeaea);
	background: -o-linear-gradient(top, #fff, #eaeaea);
	background: linear-gradient(top, #fff, #eaeaea);
	border: 1px solid white;
	border-radius: 5px;
	color: #4f4f4f;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: capitalize;
	}
	.buttonVideo:hover,
	.fechar:hover,
	.buttonVideo:active,
	.fechar:active,
	.buttonVideo:focus,
	.fechar:focus {
	color: red;
	}
	.buttonVideo[disabled] {
	background: transparent;
	border-color: rgb(83, 81, 81);
	color: rgb(139, 133, 133);
	}

	.window{
	display:none;
	width:400px;
	position:absolute;
	left:0;
	top:0;
	background:#FFF;
	z-index:9900;
	padding:10px;
	border-radius:10px;
	}

	.windowR{
	display:none;
	width:400px;
	height:400px;
	position:absolute;
	left:0;
	top:0;
	z-index:11000;
	}

	#mascara{
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
	}

	.fechar{display:block; text-align:right;}
