/* CSS Document
*
* @autor Fernanda Pieretti
* @data jun2015
* @copy gotalent
* @ref base.css
*
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

* { margin: 0; padding: 0; border: none; outline: none }
html, body, input, select, textarea { color: #6d6e71 ;font-family: 'Ubuntu', sans-serif;font-weight: 400; font-size: 15px; }
h1,h2,h3,h4,h5,h6,p {display:block;cursor:default}
ul, ol { list-style: none }
a img { border: none }
.btn{display:inline-block;clear:both;background:#15b268;padding:0 15px;color:#fff;text-decoration:none;color:#fff;font-weight:600;line-height:40px;cursor:pointer;border:none;text-align:center}
.btn:hover{background:#169b58}
.flRight{float:right}




