/* CSS Document
*
* @autor Fernanda Pieretti
* @data dez2014
* @copy gotalent
* @ref demo.css
* ajustes responsivos
*
*/

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	#parceiros img{margin: 10px auto;display:block}
	#vaga h5{display:block;margin:10px 0}
	#blog h4{margin-top:50px}
	.relacionados a{width:100%;margin:20px 0}
	#quemsomos .colaborador{text-align:center;margin-bottom:50px}
	#quemsomos .colaborador img{width:100%}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px){
	#vaga a.btn{float:none;padding:0;font-size:21px}
	#vaga a.btnOff{float:none;padding:0;font-size:21px; white-space: nowrap;}
}

